# Django
staticfiles_collected/
*.pyc
__pycache__/
db.sqlite3

# ArangoDB data files 
arango_api/tests/arangodb/

# Environment
*~
.DS_Store
*.env
.built
.idea
.tern-port
.venv
.zshenv
venv/
*.tar.gz
*.pem
/data
/arangodb
