/* Base Styles - Resets and Element Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  color: inherit;
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  height: 100%;
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Table element defaults */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
  overflow-wrap: break-word;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

fieldset {
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}

tr {
  display: table-row;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr:nth-of-type(even) {
  background-color: var(--color-light-bg);
}

td {
  padding: 0.5rem;
}

/* Base button styles */
button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 0 1rem;
}

button:hover {
  color: var(--color-gray);
}

button.active {
  color: var(--color-text-on-dark);
  background-color: var(--color-focus);
}

select:focus,
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

option {
  padding: 10px;
}

/* biome-ignore lint/style/noDescendingSpecificity: legacy css */
svg {
  height: 90%;
}
